
body{
	overflow-x:hidden;
	margin:0px;
	padding:0px;
}

header{
	position:relative;
}

.headercontainer{
	width:98%;
	margin:15px;
	
	/*max-width:100%;*/
}
#headerimg{
	width:100%;
	height:auto;
	
}


.header-content  h1{
  color: #fff;
  position:absolute;
  left:20%;
  top:30%;
  font-size:3em;
  letter-spacing:5px;
}
.header-content h1 span{
	font-size:0.27em;      /*10px*/
}
.container_fluid{
    background-color: #efefef;
    text-align:center;
}
footer .container_fluid{
	background-color: #fff;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar{
	text-align:center;
}
ul#productsmenu li{
    padding:10px;
	color:#919191;
}
ul#productsmenu li.active{
	border-top:1px solid black;
	color:#000;
}
span.prodprice{
	color:#919191;
}
img#ppimg{
	opacity:0.1;
	position:relative;
}
div#pp{
	position:absolute;
	left:50px;
	top:100px;
	font-weight:600;
	letter-spacing:1px;
}
ul#pagelist .activepagelist{
	border-bottom:1px solid black;
}
p{
	text-align:left;
	margin-top:10px;
	margin-bottom:20px;
}
.container #pagelistrow{
	margin-top:30px;
}
ul#pagelist li{
	display:inline;
	margin:8px;
	color:#919191;
}
footer{
	padding:50px 0px;

}
ul.footermenulist li{
    list-style:none;
    padding: 5px;
	text-align:left;
	
}
ul.footermenulist{
    margin-left:15px;
    padding: 0px;
	
}
.footermenu{
    float:left;
    margin-right: 50px;
}
.footerheading{
	color:#919191;
    margin-left: 10px;
	text-transform:uppercase;
	
}
.logotext{
	position:absolute;
	left:30px;
	top:30px;
	float:left;
	color:#fff;
	letter-spacing:7px;
}
.rightmenu{
	position:absolute;
	right:50px;
	top:30px;
	float:right;
	color:#fff;
	font-size:20px;
	
}
.glyphicon-search,glyphicon-menu-hamburger{
	/*padding:5px;*/
	margin-right:10px;
}
        /*css media Queries*/

@media (min-width: 1200px){
.container {
    width: 910px;
}
}
@media (min-width: 992px) and (max-width:1199px){
.container {
    width: 895px;
}
.header-content h1 {
    
    position: absolute;
    left: 198px;
    top: 89px;
  
}
}
@media (min-width: 730px) and (max-width:991px){
.container {
    width: 650px;
}
/*img:not(#logoicon,#headerimg){
	width:100%;
	
}*/

.header-content h1{
	font-size:1.25em;
}

p{
	text-align:center;
	margin-bottom:32px;
}
div#pp {
    position: absolute;
    left: 245px;
    top: 90px;
}
/*.header-content h1 {
    position: absolute;
    left: 115px;
    top: 72px;
	font-size:1.785em;  
} */

.headercontainer {
    margin: 8px;
    
}
}
@media (min-width:321px) and (max-width:725px){
	.rightmenu {
    position: absolute;
    right: 26px;
    top: 8px;
    font-size: 12px;
}
.logotext {
    position: absolute;
    left: 10px;
    top: 8px;
   
}
.header-content h1 {
   
	font-size:1.25em;
}

.headercontainer {
     margin: 5px; 
    
}
div#pp {
    position: absolute;
    left: 140px;
    top: 100px;
}
p{
	text-align:center;
	margin-bottom:32px;
}

.footermenu {
    float: none;
    margin-bottom: 30px;
   
}
ul.footermenulist li {
    text-align: center;
}
	
}
@media(max-width:320px){
	.header-content h1{
		font-size:0.64em;   /*9px*/
}
.header-content h1>span{
	font-size:0.55em;       /*5px*/
}
}